<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - NtaraCode</title>

        @*DataTables css file*@
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/NtaraCode.styles.css" asp-append-version="true" />

        <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/DataTables-1.13.1/css/dataTables.bootstrap5.css"/>

        <style>
            .accordion-button{
                transition-duration: 0.4s;
             }
            .accordion-button:hover {
                background-color: #008CBA;
                color: white;
             }
             h1{
                 color:#008CBA;
             }
             tr{
                 background-color: #008CBA;
             }
             th {
                 border: solid 1px #fff;  
                 color: #fff;
             }
        </style>  
    </head>
    <body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="~/images/logo.jpg" alt=""/>  </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="margin-top: 2em ">
        <div class="container">
            &copy; 2022 - NtaraCode - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    @*scripts*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   
    @*Data Table JS*@
    <script type = "text/javascript" src = "//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type= "text/javascript" src=~/lib/DataTables-1.13.1/js/dataTables.bootstrap5.js></script>

    @*jquery datatable*@
    <script>

        $(function () {
            $('#team_table').DataTable({
                responsive: true
                });
        });

     </script>
    @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>